* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
:root {
    --primary-color: rgb(100, 110, 241);
    --secondary-color: rgb(0, 7, 68);
}